# KEYWORDS

<table>
<tbody><tr>
<th style="width:30%">Keyword</th>
<th>Description</th>
</tr>
<tr>
<td>ADD</td>
<td>Adds a column in an existing table</td>
</tr>
<tr>
<td>ADD CONSTRAINT</td>
<td>Adds a constraint after a table is already created</td>
</tr>
  <tr>
<td>ALL</td>
<td>Returns true if all of the subquery values meet the 
condition</td>
  </tr>
<tr>
<td>ALTER</td>
<td>Adds, deletes, or modifies columns in a table, or changes the data 
type of a column in a table</td>
</tr>
<tr>
<td>ALTER COLUMN</td>
<td>Changes the data type of a column in a table</td>
</tr>
<tr>
<td>ALTER TABLE</td>
<td>Adds, deletes, or modifies columns in a table</td>
</tr>
<tr>
<td>AND</td>
<td>Only includes rows where both conditions is true</td>
</tr>
<tr>
<td>ANY</td>
<td>Returns true if any of the subquery values meet the 
condition</td>
</tr>
<tr>
<td>AS</td>
<td>Renames a column or table with an alias</td>
</tr>
<tr>
<td>ASC</td>
<td>Sorts the result set in ascending order</td>
</tr>
<tr>
<td>BACKUP DATABASE</td>
<td>Creates a back up of an existing database</td>
</tr>
<tr>
<td>BETWEEN</td>
<td>Selects values within a given range</td>
</tr>
<tr>
<td>CASE</td>
<td>Creates different outputs based on conditions</td>
</tr>
<tr>
<td>CHECK</td>
<td>A constraint that limits the value that can be placed in a 
column</td>
</tr>
<tr>
<td>COLUMN</td>
<td>Changes the data type of a column or deletes a column in a table</td>
</tr>
<tr>
<td>CONSTRAINT</td>
<td>Adds or deletes a constraint</td>
</tr>
<tr>
<td>CREATE</td>
<td>Creates a database, index, view, table, or procedure</td>
</tr>
<tr>
<td>CREATE DATABASE</td>
<td>Creates a new SQL database</td>
</tr>
<tr>
<td>CREATE INDEX</td>
<td>Creates an index on a table (allows duplicate values)</td>
</tr>
<tr>
<td>CREATE OR REPLACE VIEW</td>
<td>Updates a view</td>
</tr>
<tr>
<td>CREATE TABLE</td>
<td>Creates a new table in the database</td>
</tr>
<tr>
<td>CREATE PROCEDURE</td>
<td>Creates a stored procedure</td>
</tr>
<tr>
<td>CREATE UNIQUE INDEX</td>
<td>Creates a unique index on a table (no duplicate values)</td>
</tr>
<tr>
<td>CREATE VIEW</td>
<td>Creates a view based on the result set of a SELECT statement</td>
</tr>
<tr>
<td>DATABASE</td>
<td>Creates or deletes an SQL database</td>
</tr>
<tr>
<td>DEFAULT</td>
<td>A constraint that provides a default value for a column</td>
</tr>
<tr>
<td>DELETE</td>
<td>Deletes rows from a table</td>
</tr>
<tr>
<td>DESC</td>
<td>Sorts the result set in descending order</td>
</tr>
<tr>
<td>DISTINCT</td>
<td>Selects only distinct (different) values</td>
</tr>
<tr>
<td>DROP</td>
<td>Deletes a column, constraint, database, index, table, or view</td>
</tr>
<tr>
<td>DROP COLUMN</td>
<td>Deletes a column in a table</td>
</tr>
<tr>
<td>DROP CONSTRAINT</td>
<td>Deletes a UNIQUE, PRIMARY KEY, FOREIGN KEY, or CHECK constraint</td>
</tr>
<tr>
<td>DROP DATABASE</td>
<td>Deletes an existing SQL database</td>
</tr>
<tr>
<td>DROP DEFAULT</td>
<td>Deletes a DEFAULT constraint</td>
</tr>
<tr>
<td>DROP INDEX</td>
<td>Deletes an index in a table</td>
</tr>
<tr>
<td>DROP TABLE</td>
<td>Deletes an existing table in the database</td>
</tr>
<tr>
<td>DROP VIEW</td>
<td>Deletes a view</td>
</tr>
<tr>
<td>EXEC</td>
<td>Executes a stored procedure</td>
</tr>
<tr>
<td>EXISTS</td>
<td>Tests for the existence of any record in a subquery</td>
</tr>
<tr>
<td>FOREIGN KEY</td>
<td>A constraint that is a key used to link two tables together</td>
</tr>
<tr>
<td>FROM</td>
<td>Specifies which table to select or delete data from</td>
</tr>
<tr>
<td>FULL OUTER JOIN</td>
<td>Returns all rows when there is a match in either left table or right table</td>
</tr>
<tr>
<td>GROUP BY</td>
<td>Groups the result set (used with aggregate functions: COUNT, MAX, MIN, SUM, 
AVG)</td>
</tr>
<tr>
<td>HAVING</td>
<td>Used instead of WHERE with aggregate functions</td>
</tr>
<tr>
<td>IN</td>
<td>Allows you to specify multiple values in a WHERE clause</td>
</tr>
<tr>
<td>INDEX</td>
<td>Creates or deletes an index in a table </td>
</tr>
<tr>
<td>INNER JOIN</td>
<td>Returns rows that have matching values in both tables</td>
</tr>
<tr>
<td>INSERT INTO</td>
<td>Inserts new rows in a table</td>
</tr>
<tr>
<td>INSERT INTO SELECT</td>
<td>Copies data from one table into another table</td>
</tr>
<tr>
<td>IS NULL</td>
<td>Tests for empty values</td>
</tr>
<tr>
<td>IS NOT NULL</td>
<td>Tests for non-empty values</td>
</tr>
<tr>
<td>JOIN</td>
<td>Joins tables</td>
</tr>
<tr>
<td>LEFT JOIN</td>
<td>Returns all rows from the left table, and the matching rows from the right 
table</td>
</tr>
<tr>
<td>LIKE</td>
<td>Searches for a specified pattern in a column</td>
</tr>
<tr>
<td>LIMIT</td>
<td>Specifies the number of records to return in the result set</td>
</tr>
<tr>
<td>NOT</td>
<td>Only includes rows where a condition is not true</td>
</tr>
<tr>
<td>NOT NULL</td>
<td>A constraint that enforces a column to not accept NULL values</td>
</tr>
<tr>
<td>OR</td>
<td>Includes rows where either condition is true</td>
</tr>
<tr>
<td>ORDER BY</td>
<td>Sorts the result set in ascending or descending order</td>
</tr>
<tr>
<td>OUTER JOIN</td>
<td>Returns all rows when there is a match in either left table or right table</td>
</tr>
<tr>
<td>PRIMARY KEY</td>
<td>A constraint that uniquely identifies each record in a database table</td>
</tr>
<tr>
<td>PROCEDURE</td>
<td>A stored procedure</td>
</tr>
<tr>
<td>RIGHT JOIN</td>
<td>Returns all rows from the right table, and the matching rows from the 
left table</td>
</tr>
<tr>
<td>ROWNUM</td>
<td>Specifies the number of records to return in the result set</td>
</tr>
<tr>
<td>SELECT</td>
<td>Selects data from a database</td>
</tr>
<tr>
<td>SELECT DISTINCT</td>
<td>Selects only distinct (different) values</td>
</tr>
<tr>
<td>SELECT INTO</td>
<td>Copies data from one table into a new table</td>
</tr>
<tr>
<td>SELECT TOP</td>
<td>Specifies the number of records to return in the result set</td>
</tr>
<tr>
<td>SET</td>
<td>Specifies which columns and values that should be updated in a table</td>
</tr>
<tr>
<td>TABLE</td>
<td>Creates a table, or adds, deletes, or modifies columns in a table, or 
deletes a table or data inside a table</td>
</tr>
<tr>
<td>TOP</td>
<td>Specifies the number of records to return in the result set</td>
</tr>
<tr>
<td>TRUNCATE TABLE</td>
<td>Deletes the data inside a table, but not the table itself</td>
</tr>
<tr>
<td>UNION</td>
<td>Combines the result set of two or more SELECT statements (only 
distinct values)</td>
</tr>
<tr>
<td>UNION ALL</td>
<td>Combines the result set of two or more SELECT statements (allows 
duplicate values)</td>
</tr>
<tr>
<td>UNIQUE</td>
<td>A constraint that ensures that all values in a column are unique</td>
</tr>
<tr>
<td>UPDATE</td>
<td>Updates existing rows in a table</td>
</tr>
<tr>
<td>VALUES</td>
<td>Specifies the values of an INSERT INTO statement</td>
</tr>
<tr>
<td>VIEW</td>
<td>Creates, updates, or deletes a view</td>
</tr>
<tr>
<td>WHERE</td>
<td>Filters a result set to include only records that fulfill a specified 
condition</td>
</tr>
</tbody></table>

# String Functions

<table>
<tbody><tr>
<th style="width:25%">Function</th>
<th>Description</th>
</tr>
<tr>
<td>ASCII</td>
<td>Returns the ASCII value for the specific character</td>
</tr>
<tr>
<td>CHAR_LENGTH</td>
<td>Returns the length of a string (in characters)</td>
</tr>
<tr>
<td>CHARACTER_LENGTH</td>
<td>Returns the length of a string (in characters)</td>
</tr>
<tr>
<td>CONCAT</td>
<td>Adds two or more expressions together</td>
</tr>
<tr>
<td>CONCAT_WS</td>
<td>Adds two or more expressions together with a separator</td>
</tr>
<tr>
<td>FIELD</td>
<td>Returns the index position of a value in a list of values</td>
</tr>
<tr>
<td>FIND_IN_SET</td>
<td>Returns the position of a string within a list of strings</td>
</tr>
<tr>
<td>FORMAT</td>
<td>Formats a number to a format like "#,###,###.##", rounded to a 
specified number 
of decimal places</td>
</tr>
<tr>
<td>INSERT</td>
<td>Inserts a string within a string at the specified position and for a certain 
number of characters</td>
</tr>
<tr>
<td>INSTR</td>
<td>Returns the position of the first occurrence of a string in another string</td>
</tr>
<tr>
<td>LCASE</td>
<td>Converts a string to lower-case</td>
</tr>
<tr>
<td>LEFT</td>
<td>Extracts a number of characters from a string (starting from left)</td>
</tr>
<tr>
<td>LENGTH</td>
<td>Returns the length of a string (in bytes)</td>
</tr>
<tr>
<td>LOCATE</td>
<td>Returns the position of the first occurrence of a substring in a string</td>
</tr>
<tr>
<td>LOWER</td>
<td>Converts a string to lower-case</td>
</tr>
<tr>
<td>LPAD</td>
<td>Left-pads a string with another string, to a certain length</td>
</tr>
<tr>
<td>LTRIM</td>
<td>Removes leading spaces from a string</td>
</tr>
<tr>
<td>MID</td>
<td>Extracts a substring from a string (starting at any position)</td>
</tr>
<tr>
<td>POSITION</td>
<td>Returns the position of the first occurrence of a substring in a string</td>
</tr>
<tr>
<td>REPEAT</td>
<td>Repeats a string as many times as specified</td>
</tr>
<tr>
<td>REPLACE</td>
<td>Replaces all occurrences of a substring within a string, with a new 
substring</td>
</tr>
<tr>
<td>REVERSE</td>
<td>Reverses a string and returns the result</td>
</tr>
<tr>
<td>RIGHT</td>
<td>Extracts a number of characters from a string (starting from right)</td>
</tr>
<tr>
<td>RPAD</td>
<td>Right-pads a string with another string, to a certain length</td>
</tr>
<tr>
<td>RTRIM</td>
<td>Removes trailing spaces from a string</td>
</tr>
<tr>
<td>SPACE</td>
<td>Returns a string of the specified number of space characters</td>
</tr>
<tr>
<td>STRCMP</td>
<td>Compares two strings</td>
</tr>
<tr>
<td>SUBSTR</td>
<td>Extracts a substring from a string (starting at any position)</td>
</tr>
<tr>
<td>SUBSTRING</td>
<td>Extracts a substring from a string (starting at any position)</td>
</tr>
<tr>
<td>SUBSTRING_INDEX</td>
<td>Returns a substring of a string before a specified number of 
delimiter occurs</td>
</tr>
<tr>
<td>TRIM</td>
<td>Removes leading and trailing spaces from a string</td>
</tr>
<tr>
<td>UCASE</td>
<td>Converts a string to upper-case</td>
</tr>
<tr>
<td>UPPER</td>
<td>Converts a string to upper-case</td>
</tr>
</tbody></table>

# Numeric Functions

<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Function</th>
<th>Description</th>
</tr>
<tr>
<td>ABS</td>
<td>Returns the absolute value of a number</td>
</tr>
<tr>
<td>ACOS</td>
<td>Returns the arc cosine of a number</td>
</tr>
<tr>
<td>ASIN</td>
<td>Returns the arc sine of a number</td>
</tr>
<tr>
<td>ATAN</td>
<td>Returns the arc tangent of one or two numbers</td>
</tr>
<tr>
<td>ATAN2</td>
<td>Returns the arc tangent of two numbers</td>
</tr>
<tr>
<td>AVG</td>
<td>Returns the average value of an expression</td>
</tr>
<tr>
<td>CEIL</td>
<td>Returns the smallest integer value that is &gt;= to a number</td>
</tr>
<tr>
<td>CEILING</td>
<td>Returns the smallest integer value that is &gt;= to a number</td>
</tr>
<tr>
<td>COS</td>
<td>Returns the cosine of a number</td>
</tr>
<tr>
<td>COT</td>
<td>Returns the cotangent of a number</td>
</tr>
<tr>
<td>COUNT</td>
<td>Returns the number of records returned by a select query</td>
</tr>
<tr>
<td>DEGREES</td>
<td>Converts a value in radians to degrees</td>
</tr>
<tr>
<td>DIV</td>
<td>Used for integer division</td>
</tr>
<tr>
<td>EXP</td>
<td>Returns e raised to the power of a specified number</td>
</tr>
<tr>
<td>FLOOR</td>
<td>Returns the largest integer value that is &lt;= to a number</td>
</tr>
<tr>
<td>GREATEST</td>
<td>Returns the greatest value of the list of arguments</td>
</tr>
<tr>
<td>LEAST</td>
<td>Returns the smallest value of the list of arguments</td>
</tr>
<tr>
<td>LN</td>
<td>Returns the natural logarithm of a number</td>
</tr>
<tr>
<td>LOG</td>
<td>Returns the natural logarithm of a number, or the logarithm of a number to a 
specified base</td>
</tr>
<tr>
<td>LOG10</td>
<td>Returns the natural logarithm of a number to base 10</td>
</tr>
<tr>
<td>LOG2</td>
<td>Returns the natural logarithm of a number to base 2</td>
</tr>
<tr>
<td>MAX</td>
<td>Returns the maximum value in a set of values</td>
</tr>
<tr>
<td>MIN</td>
<td>Returns the minimum value in a set of values</td>
</tr>
<tr>
<td>MOD</td>
<td>Returns the remainder of a number divided by another number</td>
</tr>
<tr>
<td>PI</td>
<td>Returns the value of PI</td>
</tr>
<tr>
<td>POW</td>
<td>Returns the value of a number raised to the power of another number</td>
</tr>
<tr>
<td>POWER</td>
<td>Returns the value of a number raised to the power of another number</td>
</tr>
<tr>
<td>RADIANS</td>
<td>Converts a degree value into radians</td>
</tr>
<tr>
<td>RAND</td>
<td>Returns a random number</td>
</tr>
<tr>
<td>ROUND</td>
<td>Rounds a number to a specified number of decimal places</td>
</tr>
<tr>
<td>SIGN</td>
<td>Returns the sign of a number</td>
</tr>
<tr>
<td>SIN</td>
<td>Returns the sine of a number</td>
</tr>
<tr>
<td>SQRT</td>
<td>Returns the square root of a number</td>
</tr>
<tr>
<td>SUM</td>
<td>Calculates the sum of a set of values</td>
</tr>
<tr>
<td>TAN</td>
<td>Returns the tangent of a number</td>
</tr>
<tr>
<td>TRUNCATE</td>
<td>Truncates a number to the specified number of decimal places</td>
</tr>
</tbody></table>

# Date Functions

<table class="ws-table-all notranslate">
<tbody><tr>
<th style="width:25%">Function</th>
<th>Description</th>
</tr>
<tr>
<td>ADDDATE</td>
<td>Adds a time/date interval to a date and then returns the date</td>
</tr>
<tr>
<td>ADDTIME</td>
<td>Adds a time interval to a time/datetime and then returns the time/datetime</td>
</tr>
<tr>
<td>CURDATE</td>
<td>Returns the current date</td>
</tr>
<tr>
<td>CURRENT_DATE</td>
<td>Returns the current date</td>
</tr>
<tr>
<td>CURRENT_TIME</td>
<td>Returns the current time</td>
</tr>
<tr>
<td>CURRENT_TIMESTAMP</td>
<td>Returns the current date and time</td>
</tr>
<tr>
<td>CURTIME</td>
<td>Returns the current time</td>
</tr>
<tr>
<td>DATE</td>
<td>Extracts the date part from a datetime expression</td>
</tr>
<tr>
<td>DATEDIFF</td>
<td>Returns the number of days between two date values</td>
</tr>
<tr>
<td>DATE_ADD</td>
<td>Adds a time/date interval to a date and then returns the date</td>
</tr>
<tr>
<td>DATE_FORMAT</td>
<td>Formats a date</td>
</tr>
<tr>
<td>DATE_SUB</td>
<td>Subtracts a time/date interval from a date and then returns the date</td>
</tr>
<tr>
<td>DAY</td>
<td>Returns the day of the month for a given date</td>
</tr>
<tr>
<td>DAYNAME</td>
<td>Returns the weekday name for a given date</td>
</tr>
<tr>
<td>DAYOFMONTH</td>
<td>Returns the day of the month for a given date</td>
</tr>
<tr>
<td>DAYOFWEEK</td>
<td>Returns the weekday index for a given date</td>
</tr>
<tr>
<td>DAYOFYEAR</td>
<td>Returns the day of the year for a given date</td>
</tr>
<tr>
<td>EXTRACT</td>
<td>Extracts a part from a given date</td>
</tr>
<tr>
<td>FROM_DAYS</td>
<td>Returns a date from a numeric datevalue</td>
</tr>
<tr>
<td>HOUR</td>
<td>Returns the hour part for a given date</td>
</tr>
<tr>
<td>LAST_DAY</td>
<td>Extracts the last day of the month for a given date</td>
</tr>
<tr>
<td>LOCALTIME</td>
<td>Returns the current date and time</td>
</tr>
<tr>
<td>LOCALTIMESTAMP</td>
<td>Returns the current date and time</td>
</tr>
<tr>
<td>MAKEDATE</td>
<td>Creates and returns a date based on a year and a number of days value</td>
</tr>
<tr>
<td>MAKETIME</td>
<td>Creates and returns a time based on an hour, minute, and second value</td>
</tr>
<tr>
<td>MICROSECOND</td>
<td>Returns the microsecond part of a time/datetime</td>
</tr>
<tr>
<td>MINUTE</td>
<td>Returns the minute part of a time/datetime</td>
</tr>
<tr>
<td>MONTH</td>
<td>Returns the month part for a given date</td>
</tr>
<tr>
<td>MONTHNAME</td>
<td>Returns the name of the month for a given date</td>
</tr>
<tr>
<td>NOW</td>
<td>Returns the current date and time</td>
</tr>
<tr>
<td>PERIOD_ADD</td>
<td>Adds a specified number of months to a period</td>
</tr>
<tr>
<td>PERIOD_DIFF</td>
<td>Returns the difference between two periods</td>
</tr>
<tr>
<td>QUARTER</td>
<td>Returns the quarter of the year for a given date value</td>
</tr>
<tr>
<td>SECOND</td>
<td>Returns the seconds part of a time/datetime</td>
</tr>
<tr>
<td>SEC_TO_TIME</td>
<td>Returns a time value based on the specified seconds</td>
</tr>
<tr>
<td>STR_TO_DATE</td>
<td>Returns a date based on a string and a format</td>
</tr>
<tr>
<td>SUBDATE</td>
<td>Subtracts a time/date interval from a date and then returns the date</td>
</tr>
<tr>
<td>SUBTIME</td>
<td>Subtracts a time interval from a datetime and then returns the time/datetime</td>
</tr>
<tr>
<td>SYSDATE</td>
<td>Returns the current date and time</td>
</tr>
<tr>
<td>TIME</td>
<td>Extracts the time part from a given time/datetime</td>
</tr>
<tr>
<td>TIME_FORMAT</td>
<td>Formats a time by a specified format</td>
</tr>
<tr>
<td>TIME_TO_SEC</td>
<td>Converts a time value into seconds</td>
</tr>
  <tr>
<td>TIMEDIFF</td>
<td>Returns the difference between two time/datetime expressions</td>
  </tr>
  <tr>
<td>TIMESTAMP</td>
<td>Returns a datetime value based on a date or datetime value</td>
  </tr>
<tr>
<td>TO_DAYS</td>
<td>Returns the number of days between a date and date "0000-00-00"</td>
</tr>
<tr>
<td>WEEK</td>
<td>Returns the week number for a given date</td>
</tr>
<tr>
<td>WEEKDAY</td>
<td>Returns the weekday number for a given date</td>
</tr>
<tr>
<td>WEEKOFYEAR</td>
<td>Returns the week number for a given date</td>
</tr>
<tr>
<td>YEAR</td>
<td>Returns the year part for a given date</td>
</tr>
<tr>
<td>YEARWEEK</td>
<td>Returns the year and week number for a given date</td>
</tr>
</tbody></table>